
@model CourseUpdateVm

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h4>Update Course</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Course" asp-action="Update" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div class="mb-3">
                            <label class="form-label">Course Title</label>
                            <input type="text" class="form-control" asp-for="Title" placeholder="Enter Course Title">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>


                        <div class="mb-3">
                            <label class="form-label">Course Rating</label>
                            <input  class="form-control" asp-for="Rating" placeholder="Enter Course Rating">
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>

                        
                       <div class="mb-3">
                            <label class="form-label">Teacher</label>

                            <select asp-for="TeacherId" class="form-select">
                                @foreach (Teacher teacher in ViewBag.Teachers)
                                {
                                    <option value="@teacher.Id">
                                        @teacher.Name @teacher.Surname
                                    </option>
                                }
                            </select>
                       </div>


                        <div class="mb-3" >
                            <label class="form-label">Image Name</label>
                            <input type="file" class="form-control" asp-for="Image" placeholder="Enter image name">
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>




                        <button type="submit" class="btn btn-primary w-100">
                            Save Product
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>